/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff8dc;
    color: #333;
}
header, footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
nav {
    margin-top: 10px;
    text-align: center;
}
nav a {
    color: white;
    padding: 10px;
    text-decoration: none;
}
main {
    padding: 20px;
}
.faq-list dt {
    font-weight: bold;
    cursor: pointer;
}
.faq-list dd {
    margin: 0 0 20px 0;
    display: none;
}
footer {
    font-size: small;
}
@media (max-width: 768px) {
    header, footer {
        text-align: center;
    }
}
